name: "CI"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Nix
      uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1

    - name: Check formatting
      run: nix fmt -- --fail-on-change

  lint:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Nix
      uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      with:
        extra_nix_config: |
          connect-timeout = 60
          stalled-download-timeout = 90

    - name: Validate Nix flake syntax
      run: |
        export CURRENT_USER=$(whoami)
        export MYNIX_REPO_PATH=$(pwd)
        nix flake show --impure
        nix flake check --no-build --impure

  build:
    needs: [format, lint]
    runs-on: macos-latest
    strategy:
      matrix:
        config_name: [private, work]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Nix
      uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      with:
        extra_nix_config: |
          connect-timeout = 60
          stalled-download-timeout = 90

    - name: Dry-run build
      run: |
        export CURRENT_USER=$(whoami)
        export MYNIX_REPO_PATH=$(pwd)
        nix build .#darwinConfigurations.${{ matrix.config_name }}.system --dry-run --impure
