name: "Nix Flake Syntax Check"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@21a544727d0c62386e78b4befe52d19ad12692e3 # v17
      with:
        extra-conf: |
          connect-timeout = 60
          stalled-download-timeout = 90

    - name: Validate Nix flake syntax
      run: |
        export CURRENT_USER=$(whoami)
        export MYNIX_REPO_PATH=$(pwd)
        nix flake show --impure
        nix flake check --no-build --impure

    - name: Check formatting
      run: nix fmt -- --fail-on-change

  build:
    needs: lint
    runs-on: macos-14
    strategy:
      matrix:
        config_name: [private, work]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@21a544727d0c62386e78b4befe52d19ad12692e3 # v17
      with:
        extra-conf: |
          connect-timeout = 60
          stalled-download-timeout = 90

    - name: Dry-run build
      run: |
        export CURRENT_USER=$(whoami)
        export MYNIX_REPO_PATH=$(pwd)
        nix build .#darwinConfigurations.${{ matrix.config_name }}.system --dry-run --impure
